.advantage {
    box-sizing: border-box;
    margin-top: 90px;
    &_block {
        &_top {
            & span {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #999999;
            }
            & h3 {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #171C21;
                margin-top: 15px;
            }
        }
        &_content {
            margin-top: 50px;
            &_left {
                box-sizing: border-box;
                background: #00A400;
                border-radius: 5px 5px 0px 0px;
                &_main {
                    box-sizing: border-box;
                    padding: 30px;
                    & h4 {
                        font-family: 'Stolzl';
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: #FFFFFF;
                    }
                }
                &_feature {
                    height: 55px;
                }
            }
            &_right {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                position: relative;
                margin-top: 40px;
                &_item {
                    width: calc(50% - 5px);
                    box-sizing: border-box;
                    background: #F5F5F5;
                    // background: blue;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 20px 15px;
                    margin-top: 10px;
                    & p {
                        font-family: 'Stolzl';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #171C21;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    @media (min-width: 480px) {
        &_block {
            &_content {
                &_right {
                    margin-top: 30px;
                    &_item {
                        width: calc(50% - 10px);
                        margin-top: 20px;
                        padding: 20px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 140px;
        &_block {
            &_top {
                & h3 {
                    font-size: 36px;
                    line-height: 43px;
                }
            }
            &_content {
                &_left {
                    &_main {
                        padding: 36px 40px;
                        & h4 {
                            font-size: 26px;
                            line-height: 32px;
                        }
                    }
                }
                &_right {
                    margin-top: 25px;
                    &_item {
                        width: calc(100%/3 - 50px/3);
                        margin-top: 25px;
                        & p {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            &_top {
                & h3 {
                    font-size: 36px;
                }
            }
            &_content {
                display: flex;
                align-items: stretch;
                &_left {
                    min-width: 285px;
                    width: 285px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                &_right {
                    margin-top: 0px;
                    margin-left: 40px;
                    &_item {
                        &:first-child {
                            margin-top: 0px;
                        }
                        &:nth-child(2) {
                            margin-top: 0px;
                        }
                        &:nth-child(3) {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1440px) {
        &_block {
            &_right {
                &_item {
                    & p {

                    }
                }
            }
        }
    }
}