.background_main {
    position: relative;
    box-sizing: border-box;
    height: 360px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    &_title {
        & h2 {
            font-family: 'Stolzl';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #171C21;
        }
    }
    @media (min-width: 768px) {
        height: 255px;
        align-items: center;
        padding-bottom: 0px;
        &_title {
            & h2 {
                font-size: 36px;
                line-height: 43px;
                width: 350px;
            }
        }
    }
    @media (min-width: 992px) {
        &_title {
            & h2 {
                width: 100%;
                font-size: 36px;
                line-height: 43px;
            }
        }
    }
    @media (min-width: 1200px) {
        height: 350px;
        &_title {
            & h2 {
                font-size: 48px;
                line-height: 58px;
            }
        }
    }
}

.background_main.shops {
    background-image: url(../img/shops/shop_mob.png);
    background-size: cover;
    background-position: 50%;
    @media (min-width: 480px) {
        background-image: url(../img/shops/shop_big_mob.png);
    }
    @media (min-width: 768px) {
        background-image: url(../img/shops/shop_tablet.png);
    }
    @media (min-width: 992px) {
        background-image: url(../img/shops/shop_desk.png);
    }
}

.background_main.opt_back {
    background-image: url(../img/shops/shop_mob.png);
    background-size: cover;
    background-position: 50%;
    @media (min-width: 480px) {
        background-image: url(../img/shops/shop_big_mob.png);
    }
    @media (min-width: 768px) {
        background-image: url(../img/shops/shop_tablet.png);
    }
    @media (min-width: 992px) {
        background-image: url(../img/shops/shop_desk.png);
    }
}