.mailing {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 100px;
    &_block {
        &_left {
            & h3 {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #171C21;
            }
            &_text {
                font-family: 'Stolzl';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #171C21;
                margin-top: 20px;
            }
        }
        &_right {
            & form {
                & p {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                    & span {
                        width: 100%;
                        margin-top: 40px;
                        & input {
                            width: 100%;
                            font-family: 'Stolzl';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: black;
                            border-bottom: 1px solid #999999;
                            box-sizing: border-box;
                            padding-bottom: 8px;
                        }
                        & textarea {
                            width: 100%;
                            height: 54px;
                            font-family: "Stolzl";
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: black;
                            border-bottom: 1px solid #999999;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            padding-bottom: 8px;
                        }
                    }
                }
            }
            &_final {
                margin-top: 50px;
                &_check {
                    margin-left: 40px;
                    font-family: "Stolzl";
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 13px;
                    color: #999999;
                }
            }
            & .wpcf7-submit {
                height: 52px;
                width: 100%;
                box-sizing: border-box;
                background: #FF0000;
                border: 1px solid #FF0000;
                border-radius: 5px 5px 0px 5px;
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 16px;
                line-height: 52px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
                margin-top: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        margin-bottom: 150px;
        &_block {
            &_left {
                & h3 {
                    font-size: 36px;
                    line-height: 43px;
                }
                &_text {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &_right {
                & form {
                    margin-top: 10px;
                    & p {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        position: relative;
                        & span {
                            margin-top: 40px;
                        }
                        & span.menu-36 {
                            width: calc(50% - 15px);
                        }
                        & span.your-name {
                            width: calc(50% - 15px);
                        }
                        & span.text-711 {
                            width: calc(50% - 15px);
                        }
                        & span.your-email {
                            width: calc(50% - 15px);
                        }
                        & span.your-message {
                            margin-top: 60px;
                        }
                    }
                }
                &_final {
                    display: flex;
                    align-items: center;
                    & .acceptance-846 {
                        order: 2;
                        margin-left: 30px;
                    }
                    &_check {
                        font-size: 12px;
                        line-height: 16px;
                    }
                    & .wpcf7-submit {
                        -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                        order: 1;
                        width: 180px;
                        min-width: 180px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        &_block {
            &_right {
                & form {
                    & p {
                        & span.menu-36 {
                            width: calc(50% - 25px);
                        }
                        & span.your-name {
                            width: calc(50% - 25px);
                        }
                        & span.text-711 {
                            width: calc(50% - 25px);
                        }
                        & span.your-email {
                            width: calc(50% - 25px);
                        }
                    }
                }
                &_final {
                    &_check {
                        width: 360px;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            display: flex;
            align-items: flex-start;
            position: relative;
            &_left {
                min-width: 462px;
                width: 462px;
            }
            &_right {
                margin-left: 50px;
                & form {
                    margin-top: 0px;
                    & p {
                        & span.menu-36 {
                            width: calc(50% - 20px);
                        }
                        & span.your-name {
                            width: calc(50% - 20px);
                            margin-top: 0px;
                        }
                        & span.text-711 {
                            width: calc(50% - 20px);
                        }
                        & span.your-email {
                            width: calc(50% - 20px);
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1366px) {
        &_block {
            &_right {
                margin-left: 100px;
            }
        }
    }
    @media (min-width: 1440px) {
        &_block {
            &_left {
                min-width: 525px;
                width: 525px;
            }
        }
    }
}

.mailing_back {
    & img {
        width: 100%;
    }
}