.nocommercial_purchases {
    &_block {
        & h2 {
            font-family: 'Stolzl';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #171C21;
        }
        &_text {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C21;
            margin-top: 30px;
        }
        &_main {
            &_wrap {
                &_item {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 15px;
                    & span {
                        font-family: 'Stolzl';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #FF0000;
                        display: block;
                        width: 22px;
                        min-width: 22px;
                    }
                    &_body {
                        margin-left: 10px;
                        margin-top: 3px;
                        & p {
                            font-family: 'Stolzl';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #171C21;
                        }
                        & ul {
                            & li {
                                font-family: 'Stolzl';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: #171C21;
                                position: relative;
                                box-sizing: border-box;
                                padding-left: 14px;
                                margin-top: 10px;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0px;
                                    top: 7px;
                                    width: 6px;
                                    height: 6px;
                                    box-sizing: border-box;
                                    background: #FF0000;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_description {
        margin-top: 100px;
        & p {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C21;
            margin-top: 20px;
            & b {
                font-weight: 500;
            }
        }
    }
    @media (min-width: 768px) {
        & h2 {
            font-size: 36px;
            line-height: 43px;
        }
        &_text {
            font-size: 16px;
            line-height: 22px;
            margin-top: 30px;
        }
        &_block {
            &_main {
                margin-top: 50px;
                &_wrap {
                    &_item {
                        &_body {
                            margin-top: 0px;
                            & p {
                                font-size: 16px;
                                line-height: 22px;
                            }
                            & ul {
                                & li {
                                    font-size: 16px;
                                    line-height: 22px;
                                    &::after {
                                        top: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &_text {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &_description {
            & p {
                font-size: 16px;
                line-height: 22px;
            }
        } 
    }
    @media (min-width: 992px) {
        &_block {
            &_main {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                &_wrap {
                    width: calc(100%/3 - 40px/3);
                    &_item {
                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
            }
            &_text {
                max-width: 768px;
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            &_main {
                &_wrap {
                    width: calc(100%/3 - 80px/3);
                }
            }
        }
    }
    @media (min-width: 1440px) {
        &_block {
            &_main {
                &_wrap {
                    width: calc(100%/3 - 230px/3);
                }
            }
        }
    }
}