.nocommercial_purchases {
    &_block {
        & h2 {
            font-family: 'Stolzl';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #171C21;
        }
        &_text {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C21;
            margin-top: 30px;
        }
        &_main {
            &_wrap {
                &_item {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 15px;
                    & span {
                        font-family: 'Stolzl';
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #FF0000;
                        display: block;
                        width: 22px;
                        min-width: 22px;
                    }
                    &_body {
                        margin-left: 10px;
                        margin-top: 3px;
                        & p {
                            font-family: 'Stolzl';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #171C21;
                        }
                        & ul {
                            & li {
                                font-family: 'Stolzl';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                color: #171C21;
                                position: relative;
                                box-sizing: border-box;
                                padding-left: 14px;
                                margin-top: 10px;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0px;
                                    top: 7px;
                                    width: 6px;
                                    height: 6px;
                                    box-sizing: border-box;
                                    background: #FF0000;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_description {
        margin-top: 100px;
        & p {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C21;
            margin-top: 20px;
            & b {
                font-weight: 500;
            }
        }
    }
    @media (min-width: 768px) {
        & h2 {
            font-size: 36px;
            line-height: 43px;
        }
        &_text {
            font-size: 16px;
            line-height: 22px;
            margin-top: 30px;
        }
        &_block {
            &_main {
                margin-top: 50px;
                &_wrap {
                    &_item {
                        &_body {
                            margin-top: 0px;
                            & p {
                                font-size: 16px;
                                line-height: 22px;
                            }
                            & ul {
                                & li {
                                    font-size: 16px;
                                    line-height: 22px;
                                    &::after {
                                        top: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &_text {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &_description {
            & p {
                font-size: 16px;
                line-height: 22px;
            }
        } 
    }
    @media (min-width: 992px) {
        &_block {
            &_main {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                &_wrap {
                    width: calc(100%/3 - 40px/3);
                    &_item {
                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
            }
            &_text {
                max-width: 768px;
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            &_main {
                &_wrap {
                    width: calc(100%/3 - 80px/3);
                }
            }
        }
        &_description {
            width: 850px;
        }
    }
    @media (min-width: 1440px) {
        &_block {
            &_main {
                &_wrap {
                    width: calc(100%/3 - 230px/3);
                }
            }
        }
    }
}

.nocommercial_purchases_chapter {
    box-sizing: border-box;
    padding: 60px 0px;
    background: #F5F5F5;
    margin-top: 100px;
    margin-bottom: 100px;
    &_block {
        &_top {
            &_left {
                & h2 {
                    font-family: 'Stolzl';
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #171C21;
                }
                & p {
                    font-family: 'Stolzl';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #171C21;
                    margin-top: 20px;
                }
            }
            &_right {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 25px 30px;
                border: 1px solid #FF0000;
                border-radius: 8px 8px 0px 8px;
                background: transparent;
                -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear;
                margin-top: 30px;
                & img {
                    &.default {
                        display: block;
                    }
                    &.hover {
                        display: none;
                    }
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
                    & p {
                        font-family: 'Stolzl';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #272727;
                    }
                    & span {
                        font-family: 'Stolzl';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #999999;
                        margin-top: 5px;
                    }
                }
                &:hover {
                    background: #FF0000;
                    -webkit-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    & img {
                        &.default {
                            display: none;
                        }
                        &.hover {
                            display: block;
                        }
                    }
                    & .nocommercial_purchases_chapter_block_top_right_text {
                        & p {
                            color: white;
                        }
                        & span {
                            color: white;
                        }
                    }
                }
            }
        }
        &_main {
            background: #FFFFFF;
            border: 1px solid #999999;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px;
            margin-top: 30px;
            &_item {
                box-sizing: border-box;
                background: #F5F5F5;
                border-radius: 8px;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin-top: 10px;
                &:first-child {
                    margin-top: 0px;
                }
                &_left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    & h3 {
                        font-family: 'Stolzl';
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #171C21;
                    }
                    &_text {
                        box-sizing: border-box;
                        background: #00A400;
                        border-radius: 2px;
                        padding: 5px 12px;
                        margin-top: 10px;
                        & p {
                            font-family: 'Stolzl';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: #FFFFFF;
                        }
                    }
                }
                &_arrow {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        &_block {
            &_top {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &_left {
                    & h2 {
                        font-size: 24px;
                        line-height: 29px;
                    }
                    & p {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                &_right {
                    width: 374px;
                }
            }
            &_main {
                margin-top: 50px;
                padding: 30px;
                &_item {
                    padding: 20px;
                    &_left {
                        & h3 {
                            font-size: 16px;
                            line-height: 22px;
                        }
                        &_text {
                            margin-top: 10px;
                        }
                    }
                    &_arrow {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        padding: 90px 0px;
        &_block {
            &_top {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                position: relative;
                justify-content: space-between;
                &_left {
                    width: calc(100% - 342px);
                }
                &_right {
                    width: 300px;
                    margin-top: 0px;
                }
            }
            &_main {
                padding: 40px;
                &_item {
                    padding: 20px 40px;
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            width: 1065px;
            margin: 0 auto;
            &_top {
                &_left {
                    width: calc(100% - 434px);
                }
            }
            &_main {
                padding: 50px;
            }
        }
    }
}