.supplier {
    box-sizing: border-box;
    &_block {
        &_left {
            & h2 {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #171C21;
                margin-bottom: 20px;
            }
            & p {
                font-family: 'Stolzl';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #171C21;
            }
        }
        &_right {
            box-sizing: border-box;
            background: #00A400;
            border-radius: 8px;
            padding: 30px;
            margin-top: 30px;
            & h3 {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }
            & p {
                font-family: 'Stolzl';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                margin-top: 10px;
            }
        }
    }
    @media (min-width: 768px) {
        &_block {
            &_left {
                & h2 {
                    font-size: 36px;
                    line-height: 43px;
                }
                & p {
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 20px;
                }
            }
            &_right {
                padding: 40px 50px;
                & h3 {
                    font-size: 24px;
                    line-height: 29px;
                }
                & p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
    @media (min-width: 992px) {
        &_block {
            display: flex;
            align-items: flex-start;
            position: relative;
            justify-content: space-between;
            &_left {
                width: calc(100% - 460px);
            }
            &_right {
                width: 420px;
                margin-top: 0px;
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            &_left {
                width: 525px;
                min-width: 525px;
            }
            &_right {
                width: calc(100% - 575px);
                margin-top: 64px;
            }
        }
    }
    @media (min-width: 1366px) {
        &_block {
            &_right {
                width: calc(100% - 625px);
            }
        }
    }
    @media (min-width: 1440px) {
        &_block {
            &_right {
                width: calc(100% - 650px);
            }
        }
    }
}

.supplier_range {
    margin-top: 100px;
    &_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & h2 {
            font-family: 'Stolzl';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #111111;
        }
        & p {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #111111;
            text-align: center;
            margin-top: 20px;
        }
    }
    &_slider {
        margin-top: 50px;
        & .slick-slide {
            margin: 0 3px;
        }
        &_item {
            & img {
                width: 165px;
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 150px;
        &_block {
            max-width: 700px;
            margin: 0 auto;
            & h2 {
                font-size: 36px;
                line-height: 43px;
            }
            & p {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &_slider {
            & .slick-slide {
                margin: 0 5px;
            }
            &_item {
                & img {
                    width: 280px;
                }
            }
        }
    }
}

.supplier_logistics {
    margin-top: 100px;
    &_block {
        & h2 {
            font-family: 'Stolzl';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #171C21;
            text-align: center;
        }
        &_text {
            font-family: 'Stolzl';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C21;
            text-align: center;
            margin-top: 20px;
        }
    }
    &_list {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        align-items: flex-start;
        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 145px;
            margin-top: 50px;
            & span {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #171C21;
                margin-top: 20px;
            }
            & p {
                font-family: 'Stolzl';
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #171C21;
                opacity: 0.7;
                text-align: center;
                margin-top: 5px;
            }
            &:last-child {
                width: 100%;
                & p {
                    width: 180px;
                }
            }
        }
    }
    &_feature {
        margin-top: 50px;
        &_big {
            & img {
                width: 100%;
            }
        }
        &_small {
            margin-top: 30px;
            & img {
                width: 100%;
            }
        }
        &_info {
            margin-top: 50px;
            & h4 {
                font-family: 'Stolzl';
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #171C21;
                text-align: center;
            }
            &_list {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                margin-top: 30px;
                &_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &_img {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &_text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        & span {
                            font-family: 'Stolzl';
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: #171C21;
                            margin-top: 20px;
                        }
                        & p {
                            font-family: 'Stolzl';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 17px;
                            color: #999999;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 480px) {
        &_list {
            margin-top: 20px;
            &_item {
                width: 180px;
                & span {
                    font-size: 20px;
                    line-height: 24px;
                }
                & p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &_feature {
            &_info {
                &_list {
                    &_item {
                        &_text {
                            & span {
                                font-size: 20px;
                                line-height: 24px;
                            }
                            & p {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 150px;
        &_block {
            & h2 {
                font-size: 36px;
                line-height: 43px;
            }
            &_text {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &_list {
            justify-content: center;
            &_item {
                width: 202px;
                margin: 0px 20px;
                margin-top: 50px;
                & span {
                    font-size: 24px;
                    line-height: 29px;
                }
                & p {
                    font-size: 16px;
                    line-height: 22px;
                }
                &:last-child {
                    width: 212px;
                }
            }
        }
        &_feature {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &_big {
                width: 100%;
                margin-bottom: 20px;
            }
            &_small {
                width: 50%;
                margin-top: 0px;
            }
            &_info {
                width: auto;
                margin-top: 0px;
                margin-left: 40px;
                & h4 {
                    font-size: 24px;
                    line-height: 29px;
                    text-align: left;
                }
                &_list {
                    flex-direction: column;
                    margin-top: 0px;
                    &_item {
                        flex-direction: row;
                        align-items: center;
                        margin-top: 20px;
                        &_text {
                            align-items: flex-start;
                            margin-left: 20px;
                            & span {
                                margin-top: 0px;
                            }
                        }  
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        &_block {
            width: 735px;
            margin: 0 auto;
        }
        &_list {
            justify-content: space-between;
            margin-top: 70px;
            &_item {
                width: 176px;
                margin: 0px;
                & span {
                    font-size: 20px;
                    line-height: 24px;
                }
                & p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &_feature {
            margin-top: 136px;
            align-items: flex-end;
            &_small {
                position: absolute;
                right: 0px;
                top: -100px;
                background-color: #FFFFFF;
                width: 434px;
                box-sizing: border-box;
                padding: 20px;
                & img {
                    width: 100%;
                }
            }
            &_big {
                width: calc(100% - 390px);
                margin-bottom: 0px;
            }
            &_info {
                margin-bottom: 30px;
            }
        }
    }
    @media (min-width: 1200px) {
        &_list {
            &_item {
                & span {
                    font-size: 24px;
                    line-height: 29px;
                }
                & p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        &_feature {
            &_big {
                max-width: 760px;
            }
            &_small {
                width: 480px;
                right: -20px;
            }
            &_info {
                margin-bottom: 40px;
            }
        }
    }
    @media (min-width: 1366px) {
        &_feature {
            &_big {
                width: 760px;
            }
            &_small {
                width: 580px;
            }
            &_info {
                margin-left: 60px;
                margin-bottom: 30px;
            }
        }
    }
    @media (min-width: 1440px) {
        &_feature {
            &_small {
                width: 620px;
            }
            &_info {
                margin-bottom: 15px;
            }
        }
    }
}

.supplier_advantage {
    margin-top: 100px;
    &_block {
        & h2 {
            font-family: 'Stolzl';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #171C21;
            text-align: center;
        }
        &_list {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 10px;
            &_item {
                width: 50%;
                margin-top: 40px;
                &:nth-child(2) {
                    display: flex;
                    justify-content: flex-end;
                }
                &:nth-child(4) {
                    display: flex;
                    justify-content: flex-end;
                }
                &:last-child {
                    display: flex;
                    justify-content: center;
                }
                &_wrap {
                    display: flex;
                    flex-direction: column;
                    width: 155px;
                }
                &_img {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & p {
                    font-family: 'Stolzl';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;
                    color: #171C21;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
    @media (min-width: 480px) {
        &_block {
            &_list {
                &_item {
                    &_wrap {
                        width: 206px;
                    }
                    & p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 150px;
        &_block {
            & h2 {
                font-size: 36px;
                line-height: 43px;
            }
            &_list {
                margin-top: 20px;
                &_item {
                    margin-top: 50px;
                    &_wrap {
                        width: 290px;
                    }
                    & p {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        &_block {
            &_list {
                align-items: center;
                &_item {
                    width: calc(100%/3);
                    display: flex;
                    justify-content: center;
                    &:first-child {
                        justify-content: flex-start;
                    }
                    &:nth-child(3) {
                        justify-content: flex-end;
                    }
                    &:last-child {
                        margin-left: 20px;
                    }
                    &_wrap {
                        flex-direction: row;
                        align-items: center;
                        width: 300px;
                    }
                    & p {
                        margin-top: 0px;
                        text-align: left;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &_block {
            &_list {
                &_item {
                    &_wrap {
                        width: 360px;
                    }
                    &:last-child {
                        margin-left: 80px;
                    }
                }
            }
        }
    }
}

